body {
  display: flex;
  justify-content: center;
  align-items: center;
}

label {
  margin-top: 80px;
}

input {
  position:absolute;
  z-index: 999;
  font-size: 25px;
  border-radius: 10px;
  margin-top: 100px;
}

input:focus {
  outline: none;
  box-shadow: ;
}

div {
  display: none;
  justify-content: center;
  align-items: flex-start;
  position:absolute;
  z-index: 998;
  width: 800px;
  height: 600px;
  /*background-color: rgba(0, 0, 0, 0.5);*/
}
